@import '../../styles/responsive.scss';
@import '../../styles/_variables.scss';

.single {
    display: flex;
    // background-color: $main-color;
    // color: $main-bg;
    
    @include xl{
      flex-direction: column;
      gap: 20px;
    }
  
    .view {
      flex: 1;
  
      .info {
        display: flex;
        padding: 10px;
        gap: 20px;
        // background-color: lightgray;
        // color: black;
        // border-radius: 5px;
        // width: 99%;
        
        .top-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;

          button{
            padding: 8px;
            background: none;
            border: 2px solid $main-color;
            color: $main-color;
            border-radius: 10px;
            width: 100%;
            
            &:hover{
              background-color: $main-color;
              color: $main-bg;
              cursor: pointer;
            }
          }
  
          img {
            width: 100px;
            height: 100px;
            border-radius: 20px;
            object-fit: cover;
          }
  
          h1 {
            font-weight: 500;
          }
        }
        .details {
          font-size: 18px;
  
          .item {
            margin:0 0 5px;
  
            .item-title {
              font-weight: 600;
              margin-right: 10px;
              text-transform: capitalize;
            }
          }
        }
      }
  
      hr {
        width: 90%;
        height: 0;
        border: 0.5px solid gray;
        margin: 20px 0px;
      }
  
      .single-chart {
        margin-top: 50px;
        width: 80%;
        height: 400px;

        @include md{
          width: 100%;
          height: 200px;
        }
      }
    }
    .activities {
      flex: 1;
  
      h2 {
        margin-bottom: 20px;
      }
  
      ul {
        li {
          list-style-type: none;
          position: relative;
          width: 3px;
          padding-top: 50px;
          background-color: #32d35d;
  
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #32d35d;
            transform: translateX(-50%);
          }
  
          .desc {
            min-width: 480px;
            padding: 15px;
            background-color: #a0f6ba10;

            @include md{
              min-width: 250px;
            }
  
            p{
              margin-bottom: 5px;
            }
  
            time{
              font-size: 12px;
            }
          }
        }
      }
    }
  }