@import "../../styles/_variables.scss";
@import "../../styles/responsive.scss";

.user-page{

  .info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button{
      padding: 8px;
      background: none;
      border: 2px solid $main-color;
      color: $main-color;
      border-radius: 10px;
      
      &:hover{
        background-color: $main-color;
        color: $main-bg;
        cursor: pointer;
      }
    }
  }
}