@import '../../styles/responsive.scss';

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include sm{
    padding-left: 5px;
  }

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;

    img{
      width: 40px;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 20px;

    .icon{
      padding: 8px;
      cursor: pointer;


      @include sm{
        display: none;
      }
    }

    .search-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // .expanded{
    //   border: 1px solid white;
    // }

    .search-bar {
      // position: relative;
      display: flex;
      align-items: center;
      // width: 200px;
    
      .search-input {
        display: none;
        padding: 8px;
        // border: 1px solid #ccc;
        // border-radius: 4px;
        width: 200px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        
        &:focus{
          // width: 100%;
        }
      }
    }
    
    .notification {
      position: relative;

      span {
        background-color: red;
        color: white;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
