@import '../../styles/responsive.scss';

.chart-box-container {
  display: flex;
  height: 100%;

  @include sm{
    flex-direction: column;
  }

  .chart-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chart-wrapper {
      height: 100%;
      width: 100%;
    }

    .texts {
      display: flex;
      flex-direction: column;
      text-align: left;

      .percentage {
        font-weight: bold;
        font-size: 20px;

        @include xxl{
          font-size: 16px;
        }
      }

      .duration {
        font-size: 14px;
      }
    }
  }

  .box-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
    @include sm{
      gap: 20px;
    }
    
    .title-section {
      display: flex;
      gap: 10px;

      h6{
        font-size: 14px;
        text-align: right;
      }

      @include xxl{
        font-size: 14px;
      }
    }

    h3{
      @include xxl{
        font-size: 15px;
      }
    }
  }
}
